<section class="wrapper style5">
	<div class="inner">
		<% unless @invalid_ids.empty? %>
		<%= show_error_message("The following AUNs do not exist:\n" + @invalid_auns.join("\n")) %>
		<% else %>
		<div id="graph"></div>
		<!-- <div id="graph2"></div>
		<div id="graph3"></div>
		<div id="graph4"></div> -->
		<% end %>
	</div>
</section>


<script type="text/javascript">
	var data_map = [
		{label: 'Below Basic',count: <%= @school.pct_below_basic%> },
		{label: 'Basic',count: <%= @school.pct_basic%> },
		{label: 'Proficient',count: <%= @school.pct_proficient %> },
		{label: 'Advanced',count: <%= @school.pct_advanced %> }
	];
	var name = '<%= @school_name.school_name %>';
	draw_pie_chart(data_map, "#graph", "Assessment of school " + name);
</script>
