<section class="wrapper style5">
	<div class="inner">
		<p>
			<div id="graph1">
			</div>
			<%= javascript_include_tag('public_lea.js') %>
			<table>
				<tr>
					<th>aun</th>
					<th>lea_name</th>
					<th>lea_type</th>
					<th>county</th>
				</tr>
				<% @leas.each do | l | %>
				<tr>
					<td><%= l.aun  %></td>
					<td><%= l.lea_name %><br></td>
					<td><%= l.lea_type %><br></td>
					<td><%= l.county %><br></td>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
</section>
