<section class="wrapper style5">
	<div class="inner">
		<div id="graph"></div>
		<table>
			<tr>
				<th>AUN</th>
				<th>LEA Name</th>
				<th>LEA Type</th>
				<th>County</th>
			</tr>
			<% @leas.each do | l | %>
			<tr>
				<td><%= l.aun  %></td>
				<td><%= l.lea_name %><br></td>
				<td><%= l.lea_type %><br></td>
				<td><%= l.county %><br></td>
			</tr>
			<% end %>
		</table>
	</div>
</section>



<script type="text/javascript">
	var data_map = {}
	<% @lea_map.each do |key,value| %>
		var key = '<%= raw key %>';
		var value = <%= raw value %>;
		data_map[key] = value;
	<% end %>
	draw_bar_chart(data_map, "#graph");
</script>


