<section class="wrapper style5">
	<div class="inner">
		<div id="graph1"></div>
		<p>
			<table>
				<tr>
					<th>AUN</th>
					<th>LEA Name</th>
					<th>LEA Type</th>
					<th>County</th>
				</tr>
				<% @leas.each do | l | %>
				<tr>
					<td><%= l.aun  %></td>
					<td><%= l.lea_name %><br></td>
					<td><%= l.lea_type %><br></td>
					<td><%= l.county %><br></td>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
</section>


<script type="text/javascript">
 var lea_data = <%= raw @lea_map.values %>;
 var lea_labels = <%= raw @lea_map.keys %>;
 render_graph(lea_data, lea_labels);
</script>
