<section class="wrapper style5">
	<div class="inner">
		<% unless @invalid_auns.empty? %>
		<%= show_error_message("The following AUNs do not exist:\n" + @invalid_auns.join("\n")) %>
		<% else %>
		<div id="graph"></div>
		<% end %>
	</div>
</section>

<script type="text/javascript">
	// variables to determine the canvas size
	var width = 360;
	var height = 360;
	var radius = Math.min(width, height) / 2;
	var color = d3.scaleOrdinal(d3.schemeCategory20b);
	var svg = d3.select('#graph')
	  .append('svg')
	  .attr('width', width)
	  .attr('height', height)
	  .append('g')
	  .attr('transform', 'translate(' + (width / 2) +
	    ',' + (height / 2) + ')');
	var arc = d3.arc()
	  .innerRadius(0)
	  .outerRadius(radius);
	var pie = d3.pie()
	  .value(function(d) { return d.count; })
	  .sort(null);

	// loop through all School tuples
	<% @schools.each do |school| %>
	    var dataset = [
		{label: 'Below Basic',count: <%= school.pct_below_basic%> },
		{label: 'Basic',count: <%= school.pct_basic%> },
		{label: 'Proficient',count: <%= school.pct_proficient %> },
		{label: 'Advanced',count: <%= school.pct_advanced %> }
		]
	    var path = svg.selectAll('path')
	      .data(pie(dataset))
	      .enter()
	      .append('path')
	      .attr('d', arc)
	      .attr('fill', function(d) {
	        return color(d.data.label);
	      });
	<% end %> 
</script>
