<% unless @invalid_auns.empty? %>
<%= show_error_message("The following AUNs do not exist:\n" + @invalid_auns.join("\n")) %>
<% else %>
<p>
	<table>
		<tr>
			<th>aun</th>
			<th>lea_name</th>
			<th>lea_type</th>
			<th>county</th>
		</tr>
		<tr>
			<td><%= @lea.aun  %></td>
			<td><%= @lea.lea_name %><br></td>
			<td><%= @lea.lea_type %><br></td>
			<td><%= @lea.county %><br></td>
		</tr>
	</table>
</p>
<% end %>