<!DOCTYPE html>
<html>
  <head>
    <title>Umbrella Corporation</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <header id="header">
      <h1><%= link_to "UC", root_url, :class => 'more scrolly' %></h1>
      <nav id="nav">
        <ul>
          <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
              <ul>
                <li><%= link_to "Home", root_url, :class => 'more scrolly' %></li>
                <li><%= link_to "Public schools", '/public_lea', :class => 'more scrolly' %></li>
                <li><%= link_to "Public school enrollments", '/public_school_enrollment', :class => 'more scrolly' %> </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div id="page-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
